/*reset*/

html, body, nav, section, article, ul, li, button, fieldset,
main, img, h1, h2, h3, p, strong, a, div, span, footer {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

/*defaults*/

canvas {
  border: 5px solid pink;
}

body {
  font-family: sans-serif;
  background: #000;
  color: #fff;
  border: 5px solid red;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  padding: 5px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

button {
  padding: 2px;
  margin: 2px;
  font-size: 24px;
  border: 1px solid #fff;
  background: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/*modals*/

.start-screen, .game-over-screen {
  background: #000;
  text-align: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #fff;
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  border-radius: 5px;
}

.controls {
  padding: 5px;
}

.start {
  background: #00EC0E;
}

.start:hover {
  background: #008F12;
}

.hidden {
  display: none;
}

/*.modal.is-open {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}*/
